* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Outfit", sans-serif;
     font-weight: 800;
     background-image: url(/BUGETKU/bg.png);
     background-repeat: no-repeat;
     background-position: center 10px;
}
header {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
    align-items: center;
    gap: 1rem;
}
button {
    cursor: pointer;
}
.container {
    max-width: 40rem;
    margin: 0 auto;
}
header h1 {
  font-size: 2.5rem;
  color: #001797cc;
}
.budget {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 1rem;
}
.card {
    background-color: rgba(0, 49, 153, 0.6);
    padding: 1rem;
    border-radius: 1.2rem;
    color: whitesmoke;
    cursor: pointer;
}
.title_card {
font-size: 1rem;
letter-spacing: 1px;
}
.price_card {
    font-size: 2rem;
    font-weight: 700;
}
.descrip_card {
    font-weight: 400;
}
.add-budget {
    height: 6rem;
    border-radius: 1.2rem;
    font-size: 3rem;
    font-weight: bold;
    border: 3px dashed #d9d9d9;
    color: #d9d9d9;
}





@media (max-width:768px) {
    .budget {
        grid-template-columns: repeat(1, 1fr);
    }
}