:root {
--primary :#b6895b;
--bg:#010101;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
 font-family: "Poppins", sans-serif;
 scroll-behavior: smooth;
}
body {
    background-color: var(--bg);
    /* height: 200vh; */
}








.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.4rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #705437 ;
    background-color: rgba(1,1,1,0.9);
    z-index: 9999;
}

.navbar .judul-nav {
    color: #fff;
    font-size: 1.7rem;
    font-style: italic;
}
.navbar .judul-nav span {
    color: var(--primary);
}

.list-nav a {
    color: #fff;
    margin: 0 .6rem;
    font-size: 1.1rem;
    display: inline-block;
    font-weight: 400;
}
.list-nav a:hover {
    color: var(--primary);
}
.list-nav a::after {
    content: '';
    border-bottom: 1px solid #705437;
    display: block;
    padding-bottom: .5rem;
    transform: scaleX(0);
    transition: .2s linear;
}

.list-nav a:hover::after {
transform: scaleX(.5);
}
.nav-icon button {
  background: none;
  border: none;
  margin: 0 .4rem;
  color: #fff;
  cursor: pointer;
}

#menu {
   display: none;
}

/* SECTON */
/* SECTION END */



.hero {
    background-image: url(GAMBAR/header.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::after{
    content: '';
    display: block;
    width: 100%;
    height: 30%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(0deg,
    rgba(1,1,3,1) 10%,
    rgba(255,255,255,0))50%;
    z-index: 1;
}
.contain {
    margin: 1.5rem 7%;
    z-index: 2;
    max-width: 60rem;
}
.contain h2 {
    font-size: 5rem;
    color: #faeeee;
    font-weight: 700;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 8);
    line-height: 6rem;
    letter-spacing: 1px;
}
.contain h2 span {
    color: var(--primary);
}
.contain p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 5px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 8);
    font-weight: 200;
    mix-blend-mode: difference;
}
.contain a {
    background-color:var(--primary);
    color: #ebe4e4;
    padding: .9rem 2rem;
    line-height: 5rem;
    font-size: 1.1rem;
    border-radius: .8rem;
    font-weight: 800;
}

/* ABOUT ME START*/
.about,
.menu,
.kontak {
    padding: 8rem 7% 1.4rem;
}
.about .row {
    display: flex;
}
.about h2,
.menu h2,
.kontak h2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.about h2 span,
.kontak h2 span {
    color: var(--primary);
}
.about .about-img {
    flex: 1 1 30rem;
}
.about .about-img img {
    border-radius: 3rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.about .content {
    flex: 1 1 30rem;
    color: #fff;
    margin-left: 3rem;
    margin-top: 1rem;
}
.about .content h3 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.about .content p {
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.3rem;
    margin-bottom: .8rem;
}
/* ABOUT ME END */
.menu h2 {
    margin-bottom: 1rem;
}
.menu .descript {
    color: #fff;
    text-align: center;
    font-weight: 100;
}
.menu .row {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,350px));
    justify-content: center;
    gap: 2rem;
}
.menu .row .menu-card img {
   width: 100%;
   aspect-ratio: 4 / 3;
   border-radius: 1rem;
   object-fit: cover;
} 
.menu .row .sub-judul {
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
}
.menu .row .sub-judul span {
    color: var(--primary);
}
.menu .row .fake-price {
    color: #fff;
    font-size: 1.7rem;
    display: flex;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    color: var(--primary);
}
.menu .row .fake-price .fake {
    text-decoration: line-through;
    opacity: .5;
}
.menu .row .fake-price .price {
    color: #b89573;
}
/* MENU END */

/* KONTAK START */
.kontak h2 {
    margin-bottom: 1rem;
}
.kontak p {
    font-weight: 100;
    color: #eee;
    text-align: center;
}
.kontak .row {
    background-color: #6b6565;
    display: flex;
    margin-top: 2rem;
}
.kontak .row .map {
    flex: 1 1 45rem;
    object-fit: cover;
    width: 100%;
}
.kontak .row form {
    padding: 5rem 2rem;
    flex: 1 1 45rem;
    text-align: center;
}
.kontak .row form .input-group {
   display: flex;
   align-items: center;
   border: 1px solid #fff;
   background-color: var(--bg);
   margin-top: 2rem;
   color: #bebbbb;
   padding-left: 2rem;
}
.kontak .row form .input-group input {
    padding: 2rem;
    width: 100%;
    background: none;
    color: #fff;
    font-size: 1.5rem;
}
.kontak .row form button {
    padding: 1rem 4rem; 
    background-color: var(--primary);
    margin-top: 1rem;
    color: #fff;
    cursor: pointer;
}
/* KONTAK END */

/* FOOTER START */
footer {
   background-color: var(--primary);
   text-align: center;
   padding: 1.5rem 0 3rem;
   margin-top: 3rem;
   color: #fff;
}
footer .socials a {
   padding: 0 .5rem;
   color: #eee;
   transition: .3s linear;
}
footer .socials a:hover {
    color: var(--bg);
}
footer .link {
    margin-top: 1rem;
}
footer .link a {
    padding: 0 1rem;
    font-size: 1.1rem;
    color: #fff;
    transition:.2s linear ;
}
footer .link a:hover {
    color: var(--bg);
}
footer .credit {
  font-size: .9em;
  padding: 1rem 0;
}
footer .credit a {
    color: var(--bg);
    font-weight: 700;
}
/* FOOTER END */

/* MEDIA SCREEN */

/* LAPTOP */
@media (max-width:1366px) {
html {
   font-size: 80%;
 }
}
/* TABLET */
@media (max-width:768px) {
html {
   font-size: 75%;
 }
 .hero .contain h2 {
    font-size: 4.5rem;
 }
 #menu {
    display: inline-block;
 }
.list-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
.list-nav.active {
    right: 0;
}
.list-nav a {
    font-size: 1.5rem;
    color: var(--bg);
}
.about .row {
    flex-wrap: wrap;
}
.about .content {
    margin-left: 0;
    margin-top: 2rem;
}
.about .content h3 {
    font-size: 2rem;
}
.about .content p {
    font-size: 1.5rem;
}
.menu .row .sub-judul {
    margin-top: 1rem;
}
.kontak .row {
    flex-wrap: wrap;
}
.kontak .row .map  {
    height: 30rem;
}
}
/* HANDPHONE */
@media (max-width:500px) {
html {
   font-size: 55%;
 }
 .contain {
    margin: 1rem 7%;
 }
 .contain p {
    font-size: 1.4rem;
 }
}
