*, html, body {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    background: #2b2828;
    padding: 15px 0;
    border-bottom: 5px solid rgb(221, 255, 154);
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
}
.nav {
    display: flex;
    justify-content: space-evenly;
}
.navbar {
    margin-left: auto;
    margin-right: 20px;
}
.btn {
    font-size: 15px;
    padding: 8px 30px;
    color: rgb(241, 241, 241);
    background-color: #6e6e6e;
    margin: 3px 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    margin-left: 10px;
    box-sizing: border-box;
    border-left: 2px solid #999;
    border-top: 2px solid #999;
    cursor: pointer;
    transition: all .3s ease;
    display: inline-block;
}
.btn:hover {
 transform: translate(-5px);
}


/* CONTAINER */

.container {
    margin-top: 80px;
    width: 100%;
    min-height: 100vh;
    background-color: #3f3e3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 100px;
    font-family: fantasy;
    color: rgb(243, 235, 235);
    letter-spacing: 3px;
    text-shadow: 5px 5px 2px rgba(0,0,0,.4);
}
h3 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.4);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 90px;
}
.content {
    display: flex;
    gap: 90px;
}
.img {
    cursor: pointer;
}
.p {
    font-size: 30px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 7px;
    color: white;
    margin-top: 5px;
}

/* ISI */


.isi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo {
    margin-top: 150px;
    border-radius: 100%;
    border: 2px solid greenyellow;
    object-fit: cover;
    aspect-ratio: 1/1;
    
}
.description {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}
.paragraf {
    width: 90%;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: auto;
    background-color: rgb(39, 38, 38);
}
.describ {
    color: white;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}
.btn {
    margin-left: auto;
    margin-right: 53px;
    margin-top: 5px;
    font-size: 15px;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(44, 40, 40);
    color: rgb(230, 220, 220);
}

/* AVATAR SLECTION */
.section {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-top: 70px;
}

.h2-avatar {
    color: rgb(243, 238, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-size: 31px;
} 
.container-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jendela-avatar {
    width: 100%;
    overflow: hidden;
}
.bingkai-avatar {
    display: flex;
}
.kartu-avatar {
    flex-shrink: 0;
    width: 300px;
    margin: 0 30px;
    /* padding: 10px; */
    background-color: white;
    border-radius: 20px;
    filter: blur(3px);
    transform: scale(0.9);
    opacity: 0.6;
    transition: all 0.5s ease;
}
.kartu-avatar.aktif {
    filter: blur(0);
    text-align: center;
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}
.kartu-avatar img {
    width:150px;
    text-align: center;
    height: auto;
}
.tombol-panah {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.tombol-kiri {
    left: 10px;
}
.tombol-kanan {
    right: 10px;
}