*,html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: tomato;
}
.container {
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#pertanyaan {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
    display: flex;
}
.SkyBot {
    font-size: 25px;
    background-color: white;
    padding: 6px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -2px -2px 3px 2px rgba(0,0,0,.4);
}
.btn {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 8px;
    background-color: rgb(3, 117, 79);
    color: azure;
    font-weight: 500;
}
